http_interactions:
- request:
    method: GET
    uri: https://id.who.int/icd/release/11/2024-01/mms/search?q=depresion+mayor&flatResults=true&useFlexisearch=true
  response:
    status: 200
    headers:
      content-type: application/json
      api-version: v2.6.0
    body:
      string: '{"destinationEntities":[{"id":"http://id.who.int/icd/release/11/2024-01/mms/1669279433","title":"Trastorno
        depresivo, episodio \u00FAnico grave sin s\u00EDntomas psic\u00F3ticos","stemId":"http://id.who.int/icd/release/11/2024-01/mms/1669279433","isLeaf":true,"postcoordinationAvailability":1,"hasCodingNote":false,"hasMaternalChapterLink":false,"hasPerinatalChapterLink":false,"matchingPVs":[{"propertyId":"Synonym","label":"\u003Cem
        class=\u0027found\u0027\u003EDepresi\u00F3n\u003C/em\u003E \u003Cem class=\u0027found\u0027\u003Emayor\u003C/em\u003E","score":1,"important":false,"foundationUri":"http://id.who.int/icd/entity/1669279433","propertyValueType":0},{"propertyId":"Synonym","label":"\u003Cem
        class=\u0027found\u0027\u003EDepresi\u00F3n\u003C/em\u003E \u003Cem class=\u0027found\u0027\u003Emayor\u003C/em\u003E
        SAI","score":1,"important":false,"foundationUri":"http://id.who.int/icd/entity/1669279433","propertyValueType":0},{"propertyId":"Synonym","label":"\u003Cem
        class=\u0027found\u0027\u003EDepresi\u00F3n\u003C/em\u003E agitada","score":0.39173524398156645,"important":false,"foundationUri":"http://id.who.int/icd/e[...]
