http_interactions:
- request:
    method: GET
    uri: https://id.who.int/icd/release/11/2024-01/mms/search?q=diabetes+mellitus&flatResults=true&useFlexisearch=true
  response:
    status: 200
    headers:
      content-type: application/json
      api-version: v2.6.0
    body:
      string: '{"destinationEntities":[{"id":"http://id.who.int/icd/release/11/2024-01/mms/1697306310","title":"\u003Cem
        class=\u0027found\u0027\u003EDiabetes\u003C/em\u003E \u003Cem class=\u0027found\u0027\u003Emellitus\u003C/em\u003E,
        tipo no especificado","stemId":"http://id.who.int/icd/release/11/2024-01/mms/1697306310","isLeaf":true,"postcoordinationAvailability":1,"hasCodingNote":false,"hasMaternalChapterLink":true,"hasPerinatalChapterLink":true,"matchingPVs":[{"propertyId":"Synonym","label":"\u003Cem
        class=\u0027found\u0027\u003Ediabetes\u003C/em\u003E \u003Cem class=\u0027found\u0027\u003Emellitus\u003C/em\u003E
        SAI","score":1,"important":false,"foundationUri":"http://id.who.int/icd/entity/1697306310","propertyValueType":0},{"propertyId":"Synonym","label":"\u003Cem
        class=\u0027found\u0027\u003Ediabetes\u003C/em\u003E SAI","score":0.718389658134229,"important":false,"foundationUri":"http://id.who.int/icd/entity/1697306310","propertyValueType":0},{"propertyId":"Synonym","label":"\u003Cem
        class=\u0027found\u0027\u003Ediabetes\u003C/em\u003E \u003Cem class=\u0027found\u0027\u003Emellitus\u003C/em\u003E
        severa","score":0.6997502474021493,"important":false,"foundationUri":"http://id.who.int/[...]
- request:
    method: GET
    uri: https://id.who.int/icd/release/11/2024-01/mms/search?q=hipertension+esencial&flatResults=true&useFlexisearch=true
  response:
    status: 200
    headers:
      content-type: application/json
      api-version: v2.6.0
    body:
      string: '{"destinationEntities":[{"id":"http://id.who.int/icd/release/11/2024-01/mms/761947693/unspecified","title":"\u003Cem
        class=\u0027found\u0027\u003EHipertensi\u00F3n\u003C/em\u003E \u003Cem class=\u0027fou[...]
- request:
    method: GET
    uri: https://id.who.int/icd/release/11/2024-01/mms/search?q=neumonia&flatResults=true&useFlexisearch=true
  response:
    status: 200
    headers:
      content-type: application/json
      api-version: v2.6.0
    body:
      string: '{"destinationEntities":[{"id":"http://id.who.int/icd/release/11/2024-01/mms/142052508/unspecified","title":"\u003Cem
        class=\u0027found\u0027\u003ENeumon\u00EDa\u003C/em\u003E, organismo sin especificaci\u00F3n","stem[...]
